<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wiph=device-wiph, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="main-header">
      <section class="main-header-top">
        <img
          src="/images/logo-mercado-liebre.svg"
          alt="logo de mercado liebre"
          class="logo"
        />
        <form action="/" method="post" class="barrita">
          <label for="search_bar"></label>
          <input type="text" name="search_bar" id="search_bar" placeholder="Buscar productos, marcas " >
            <i class="fas fa-search lupa"><button type="submit"></button></i>
      </form>
        <h2 class="slogan">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </h2>
      </section>
      <a href="" class="burga"><i class="fas fa-bars"></i></a>
      <nav class="main-nav">
        <ul class="nav1">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="nav2">
          <li>
            <a href="/register"
              >Creá tu Cuenta<i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href=""
              >Mis Compras<i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <picture>
        <img src="/images/img-home-banner.jpg" alt="banner" class="banner">
      </picture>
    </header>
    <main>
      <h2>Basado en tu última visita</h2>
      <section class="visita">
        <article class="producto">
          <picture>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="imagen de una cafetera moulinex"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$6.770</p>
            <p class="disc">40% OFF</p>
            <p class="desc">Cafetera Moulinex</p>
          </section>
        </article>
        <article class="producto">
          <picture >
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="imagen de una MacBook"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$230.000</p>
            <p class="disc">20% OFF</p>
            <p class="desc">MacBook Pro 2019</p>
          </section>
        </article>
        <article class="producto">
          <picture >
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="imagen de un teléfono Samsung Galaxy S10"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$70.500</p>
            <p class="disc">10% OFF</p>
            <p class="desc">Samsung Galaxy S10</p>
          </section>
        </article>
        <article class="producto">
          <picture >
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="imagen de un smart TV Samsung"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$23.200</p>
            <p class="disc">5% OFF</p>
            <p class="desc">SmartTv Samsung 43''</p>
          </section>
        </article>
      </section>
      <h2>Sección de Ofertas</h2>
      <section class="visita">
        <article class="producto">
          <picture>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="imagen de una cafetera moulinex"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$6.770</p>
            <p class="disc">40% OFF</p>
            <p class="desc">Cafetera Moulinex</p>
          </section>
        </article>
        <article class="producto">
          <picture >
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="imagen de una MacBook"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$230.000</p>
            <p class="disc">20% OFF</p>
            <p class="desc">MacBook Pro 2019</p>
          </section>
        </article>
        <article class="producto">
          <picture >
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="imagen de un teléfono Samsung Galaxy S10"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$70.500</p>
            <p class="disc">10% OFF</p>
            <p class="desc">Samsung Galaxy S10</p>
          </section>
        </article>
        <article class="producto">
          <picture >
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="imagen de un smart TV Samsung"
              class="foto"
            />
          </picture>
          <section class="texto">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$23.200</p>
            <p class="disc">5% OFF</p>
            <p class="desc">SmartTv Samsung 43''</p>
          </section>
        </article>
      </section>
    </main>
    </form>
    <footer>
      <section id="footer1">
        <i class="fa-solid fa-credit-card iconoFooter"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section id="footer2">
        <i class="fa-solid fa-gift iconoFooter"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section id="footer3">
        <i class="fa-solid fa-user-shield iconoFooter"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    </footer>
  </body>
</html>